<div class="container p-3 my-3 bg-dark text-white">GUJARATH</div>



<div class="container"><p>Considered to be the first of the 12 Jyotirlingas, the Somnath Temple in Gujarat is situated near Veraval in (Prabhas Kshetra) Kathiawad district. This jyotirling in Gujrat is a highly revered pilgrimage site in the country. There is a legend related to how this Jyotirling in Gujarat came into being. According to the Shiva Purana, the moon was married to 27 daughters of Daksha Prajapati, out of which he loved Rohini the most. Seeing his negligence towards the other wives, Prajapati cursed moon that it would lose all its radiance. A disturbed moon along with Rohini came to Somnath and worshipped the Sparsa Lingam after which he was blessed by Shiva to regain his lost beauty and shine. On his request, Lord Shiva assumed the name Somchandra and resided there eternally. He became famous by the name Somnath. Ever since the Somnath Jyotirlinga has been destroyed and rebuilt many times in history.</p></div>
<div class="container"><p>The Nageshwar Temple also known as Nagnath Temple is located on the route between Gomati Dwarka and the Bait Dwarka Island on the coast of Saurashtra in Gujarat. This Jyotirlinga holds special significance as it symbolises protection from all types of poison. It is believed that those who worship at this temple become free of all poisons. According to the Shiva Purana, a Shiva devotee by the name Supriya was captured by the demon Daaruka. The demon imprisoned her with several others in his capital Daarukavana. Supriya advised all prisoners to chant “Aum Namaha Shivaya” which enraged Daaruka who ran to kill Supriya. Lord Shiva manifested in front of the demon and put an end to him. Thus the Nageshwar Jyotirlinga came into being.</p></div>



<div class="container">
    <h2>Somnath Mahadev Temple Gujarat</h2>
    
    <div class="card" style="width:400px">
        <a href="http://jyotirlingatemples.com/temple/id/44/somnath-temple" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459399374.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">Somnath Mahadev Temple Gujarat</h4>
        <p class="card-text">Somnath Temple the abode of Lord Shiva is the first of the 12 Jyotirlingas of Lord Shiva, the holiest of holy shrines of Lord Shiva .Somnath Temple dedicated to Someshwara, the Lord Shiva, with moon on his head.</p>
        <a class="read_more" href="http://jyotirlingatemples.com/temple/id/44/somnath-temple"> Read More</a>
      </div>

    </div>
</div>
<div class="container">
    <h2>Nageshwar Temple Gujarat</h2>
    
    <div class="card" style="width:400px">
        <a href="http://jyotirlingatemples.com/temple/id/44/somnath-temple" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459399374.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">Nagnath Temple Gujarat</h4>
        <p class="card-text">Nagnath Temple is located on the route between Gomati Dwarka and the Bait Dwarka Island on the coast of Saurashtra in Gujarat. </p>
        <a class="read_more" href="http://jyotirlingatemples.com/temple/id/44/somnath-temple"> Read More</a>
      </div>

    </div>
</div>

