<div class="container p-3 my-3 bg-dark text-white">Madyapradesh</div>
<div class="container"><p>Mahakaleshwar Temple is located on the banks of the Kshipra River, in the dense Mahakal forest in Ujjain, Madhya Pradesh. This Jyotirlinga in Madhya Pradesh is an important pilgrimage site in Central India. There are a number of legends related to how this Jyotirlinga came into existence. According to the Puranas, there was a five-year-old boy Shrikar who was enthralled by the devotion of King Chandrasena of Ujjain towards Lord Shiva. Shrikar took a stone and started worshipping as Shiva. Many people tried to dissuade him in different ways, but his devotion kept growing. Pleased by his devotion, Lord Shiva assumed the form of a Jyotirlinga and resided in the Mahakal forest. The Mahakaleshwar Temple is considered significant by the Hindus for another reason. It is among one of the seven “Mukti-Sthal” – the place that can liberate a human.</p></div>
<div class = "container">
    <h2> Three in madyapadesh state</h2>
    <div class = "card-deck">
       <div class = "card">
        <a href="http://jyotirlingatemples.com/temple/id/45/mahakaleswartemple--ujjain-" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459402869.jpg" alt="" /></a>	
          
          <div class = "card-body">
             <h5 class = "card-title">Mahakaleshwar temple</h5>
             <p class = "card-text">
                Mahakaleshwar Temple is One of the seven Moksha Puris, Ujjain is the abode of Mahakaleshwar . Mahakaleshwar Temple is One of the 12 Jyotirlingas Temples of,the holiest of holy shrines of Lord Shiva
             </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="http://jyotirlingatemples.com/temple/id/45/mahakaleswartemple--ujjain-"> Read More</a>	</small>
          </div>
       </div>
       
       <div class = "card">
        <a href="http://jyotirlingatemples.com/temple/id/46/omkareswar-temple-omkareshwar" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459406572.jpg" alt="" /></a>	
          <div class = "card-body">
             <h5 class = "card-title">omkareshwar</h5>
             <p class = "card-text">
                Omkareshwar Templeis one of the 12 jyotirlinga of Lord Shiva, the holiest of holy shrines of Lord Shiva. Omkareshwar, the sacred island, shaped like the holiest of all Hindu symbols,Om', has drawn Lakh of pilgrims
             </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="http://jyotirlingatemples.com/temple/id/46/omkareswar-temple-omkareshwar"> Read More</a>		</small>
          </div>
       </div>
       
       <div class = "card">
        <a href="http://jyotirlingatemples.com/temple/id/53/grishneshwa-temple-ellora" class="image featured"><img src="../assets/pics/mam.jpg" alt="" /></a>
          
          <div class = "card-body">
             <h5 class = "card-title">mamaleshwar</h5>
             <p class = "card-text">
                The most popular Shiva occasion ‘Maha Shivratri’ celebration is observed in this ancient and holy temple. This is a hymns very sacred place to commemorate felicitous fest by people following Hindu Culture.
             </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="http://jyotirlingatemples.com/temple/id/53/grishneshwa-temple-ellora"> Read More</a></small>
          </div>
       </div>
    </div>
 </div>
                									