
<div class="container p-3 my-3 bg-dark text-white">THAMILNADU</div>

<div class="container">
    <h2>THAMILNADU,RAMESHWAR</h2>
    <div class="container"><p>Rameshwar temple is the southernmost of the 12 Jyotirlingas, is located on the island of Rameshwaram, off the Sethu coast of Tamil Nadu. This temple is popularly known for its architecture, more prominently the long ornate corridors, towers, and 36 theerthams. This has been a time-honoured pilgrimage centre considered by many at par with Banaras. This Jyotirlinga is closely associated with Ramayana and Ram’s victorious return from Sri Lanka. It is believed that Ram on his way to Sri Lanka stopped at Rameshwaram and was drinking water on the seashore when there was a celestial proclamation: “You are drinking water without worshipping me.” Listening to this Ram made a linga of sand and worshipped it and asked for its blessings to defeat Ravana. He got the blessings from Lord Shiva who then turned into a Jyotirlinga and resided at the place for eternity.</p></div>
  <div class="container"></div>
    <div class="card" style="width:400px" class="center">
        <a href="http://jyotirlingatemples.com/temple/id/47/ramanatha-swamy-temple-rameshwaram" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459405680.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">Ramanatha Swamy Temple Rameshwaram</h4>
        <p class="card-text"><p>Ramanathaswamy Temple is one of the 12 jyotirlinga of Lord Shiva, the holiest of holy shrines of Lord Shiva . The main Sanctum enshrines Linga of Sri Ranganatha, which was made by Goddess Sita herself and was instituted by Lord Rama. </p>
        <a class="read_more" href="http://jyotirlingatemples.com/temple/id/47/ramanatha-swamy-temple-rameshwaram"> Read More</a>	
    </div>