
<div class="container p-3 my-3 bg-dark text-white"> <marquee direction="left"><h1>WANT TO TRAVEL CONTACT US</h1></marquee></div>

<div class="container">

    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>MONIKA REDDY NAGAVELLY</b></p>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>PHONE NUMBER:8329469891</b></p>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>EMAIl ID:monikareddynagavelly@gmail.com</b></p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>MAHARASHTRA,NAGPUR,RAMTEK.</b></p>
          </div>
        </div>
      </div>
</div>