
<div class="container p-3 my-3 bg-dark text-white">UTTHARAKHAND</div>

<div class="container">
    <h2>UTTHARAKHAND,kedharnath</h2>
    <div class="container"><p>One of the holiest pilgrimage sites in India, the Kedarnath Temple is located on the Rudra Himalaya Range at the height of 12000 feet on a mountain named Kedar. It is approximately 150 miles from Hardwar. The temple enshrining the Jyotirlinga opens only six months in a year. The tradition is that while embarking on a pilgrimage to Kedarnath people first visit Yamunotri and Gangotri and brings the holy water to offer at Kedarnath. According to the legends, pleased by the severe penance of the Nara and Narayana – two incarnations of Lord Vishnu, Lord Shiva took up permanent abode in Kedarnath in the form of this Jyotirlinga. People believe that praying at this site one gets all his desire fulfilled.</p></div>
  <div class="container"></div>
    <div class="card" style="width:400px" class="center">
        <a href="http://jyotirlingatemples.com/temple/id/460/kedarnath-temple-garhwal-himalayas" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1592909417.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">kedharnathtemple</h4>
        <p class="card-text"><p>Kedarnath Temple dedicated to Lord Shiva. Located on the Garhwal Himalayan range near the Mandakini river . Kēdārnāth temple is one of the 12 jyotirlinga of Lord Shiva, the holiest of holy shrines of Lord Shiva . Kedarnath forms one of the four sites of the Chota Char Dham Pilgrimage.</p>
        <a class="read_more" href="http://jyotirlingatemples.com/temple/id/43/kashi-vishwanath-temple-varanasi"> Read More</a>	
      </div>
    </div>