<div class="container p-3 my-3 bg-dark text-white">maharashtra</div>
<div class="container"><p>The Bhimashankar Temple is located in the Sahyadri region of Pune, Maharashtra. It lies on the banks of Bhima River and is considered to be a source of this river. The legend about the existence of this Jyotirlinga is related to Kumbhakarna’s son Bhima. When Bhima learned that he was the son of Kumbhakarana who was annihilated by Lord Vishnu in his incarnation as Lord Ram, he vowed to avenge Lord Vishnu.Source
   The Ghrishneshwar Jyotirlinga is located in a village called Verul, which lies 20 km from Daulatabad, near Aurangabad in Maharashtra. Located near this temple is the famous tourist site – Ajanta & Ellora caves.the Trimbakeshwar Temple is located about 30kms from Nasik in Maharashtra near the mountain named Brahmagiri from the river Godavari flows. This temple is considered to be a source of the river Godavari which is known as “Gautami Ganga”- the most sacred river in South India</p></div>
<div class = "container">
    <h2> Three in maharashtra state</h2>
    <div class = "card-deck">
       <div class = "card">
        <a href="http://jyotirlingatemples.com/temple/id/49/-trimbakeshwar-temple-nashik" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459407141.jpg" alt="" /></a>
          
          <div class = "card-body">
             <h5 class = "card-title">Triyambakeshwar temple</h5>
             <p class = "card-text">
                literally means the abode of the three eyed one i.e. Brahma, Vishnu and Shiva ,Trimbakeshwar temple is one of the 12 jyotirlinga of Lord Shiva, the holiest of holy shrines of Lord Shiva.
             </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://www.holidify.com/pages/jyotirlingas-in-india-1628.html"> Read More</a></small>
          </div>
       </div>
       
       <div class = "card">
        <a href="http://jyotirlingatemples.com/temple/id/50/bhimashankar-temple-sahyadri-hills-" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459403387.jpg" alt="" /></a>
          <div class = "card-body">
             <h5 class = "card-title">bhimashankar</h5>
             <p class = "card-text">
              Bhimshanker  is one of the 12 jyotirlingas, the holiest of holy shrines of Lord Shiva. It is believed that the ancient shrine was erected over a Swayambhu Linga or a Self-Emanated Shiva Linga.
             </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="http://jyotirlingatemples.com/temple/id/50/bhimashankar-temple-sahyadri-hills-"> Read More</a>	</small>
          </div>
       </div>
       
       <div class = "card">
        <a href="http://jyotirlingatemples.com/temple/id/53/grishneshwa-temple-ellora" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459400872.jpg" alt="" /></a>
          
          <div class = "card-body">
             <h5 class = "card-title">Grishneshwa Temple Ellora</h5>
             <p class = "card-text">
                Ghurmeshwar or Ghushmeshwar is situated in a village called Verul and adjacent to the famous Ellora Caves. Grishneshwar Temple is the holy abode and one of the 12 jyotirlinga of Lord Shiva, the holiest of holy shrines of Lord Shiva
             </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="http://jyotirlingatemples.com/temple/id/53/grishneshwa-temple-ellora"> Read More</a></small>
          </div>
       </div>
    </div>
 </div>
                									