<div class="container p-3 my-3 bg-dark text-white">UTTHARAPRADESH</div>


<div class="container">
    <h2>kashi kashi-vishwanath-temple-varanasi</h2>
    <p>The Kashi Vishwanath Temple is located in the most revered site in the world- Kashi! It is situated amidst the crowded lanes of the holy city of Banaras (Varanasi). More than the Ghats and Ganga of Varanasi, the Shivalinga remains the devotional focus of the pilgrims. It is believed that Banaras is the site at which the first Jyotirlinga manifested its supremacy over other gods, broke through the earth’s crust and flared towards heaven. This temple is said to be the dearest to Lord Shiva, and the people believe that those who die here achieve liberation. Many believe that Shiva himself resided here and is the giver of liberation and happiness. This temple has been rebuilt several times but always continued to hold its ultimate significance. </p>
    
    <div class="container" class="center"><p>Varanasi is one of the holiest places to visit in India and the Kashi Vishwanath temple is its biggest attraction thanks to the Visweswar jyotirlinga here. The grand aartis held here during major festivals, especially Mahashivratri, are an experience you cannot afford to miss.</p></div>
  <div class="container" class="center"><p>Kashi Vishwanath Temple is one of the most famous temple in Varanasi, also known as the Golden temple dedicated to the Lord Shiva. It was constructed in the year 1780 by the Maratha monarch, Maharani Ahilyabai Holkar of the Indore..</p></div>
    <div class="card" style="width:400px" class="center"><a href="http://jyotirlingatemples.com/temple/id/43/kashi-vishwanath-temple-varanasi" class="image featured"><img src="https://blessingsonthenet.com/img/uploads/thumbs/aim_bn_1459406944.jpg" alt="" /></a>
      <div class="card-body">
        <h4 class="card-title">kashi-vishwanath-temple-varanasi temple</h4>
        <p class="card-text">Kashi Vishwanath Jyotirlinga Temple is situated at Kashi (Banaras) and famous by the name of Shiv Vishwanath Kashi. It is said in the scriptures that when the earth was submerged under water (Pralaya)</p>
        <a class="read_more" href="http://jyotirlingatemples.com/temple/id/43/kashi-vishwanath-temple-varanasi"> Read More</a>		
      </div>
    </div>