

 <div><img src="./assets/12-jyotirlinga.jpg" class="center" alt="" width="100%" height="400px"/></div>

<div class="cotainer"><p>There are 12 Jyotirlinga in India. It is believed that Lord Shiva first manifested himself on Earth on the night of the Aridra Nakshatra, thus the special reverence for the Jyotirlinga. There is no unique appearance to mark the Jyotirlingas. Many people believe that you can see these lingas as columns of fire piercing through the earth after you reach a high level of spiritual attainment. Originally there were 64 Jyotirlingas out of which 12 are considered to be highly auspicious and holy. The 12 Jyotirlinga temples in India take the name of the presiding deity. Each considered a different manifestation of Lord Shiva. The primary image as all these lingas is the “lingam” representing the beginning and end stambh pillar or the infinite nature of Lord Shiva.</p></div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="./assets/pics/kashi.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">kashi sri vishwanath</h5>
          <p class="card-text">
            kashi sri vishwanath temple is located in varanasi,utterapradesh
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="uttharapradesh"><b>varanasi,Utterapradesh</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="./assets/pics/rameshwar.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">Sri rameshwar</h5>
          <p class="card-text">
            shri rameshwar  temple is located in thamilnadu
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="thamilnadu"><b>Rameshwaram,Thamilnadu</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/srishyalam.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">shrishylam,mallikarjuna</h5>
        <p class="card-text">
          sri mallikarjuna temple is located in srishylam,Andrapradesh
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="andrapradesh"><b>srishylam,Andrapradesh</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="./assets/pics/triam.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;"> sri Thraimbhakeshwaram</h5>
          <p class="card-text">
            sri Thraimbhakeshwaram temple is located in nasik,maharashtra
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="maharashtra"><b>nasik,Maharshtra</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/kedar.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">sri kedharnath</h5>
        <p class="card-text">
          sri kedharnath,utterakand
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="uttharakand"><b>Utterakand</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/somanath.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">sri somanath</h5>
        <p class="card-text">
          sri somanath temple is located in gujarath
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="gujarath"><b>Gujarath</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="./assets/pics/mahakalesh.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">shri mahakaleshwar</h5>
          <p class="card-text">
             sri mahakaleshwar temple is located in ujjain,madyapradesh
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="madyapradesh"><b>ujjain,Madyapradesh</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/omkar.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">Shri omkarshwar,mamaleshwar</h5>
        <p class="card-text">
          shri omkareshwar,mamaleshwar temple is located in madyapradesh
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="madyapradesh"><b>madyapradesh</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="./assets/pics/nageshwar.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">sri nageshwar</h5>
          <p class="card-text">
            sri nageshwara temple is located in Darukavanam,gujarath
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="gujarath"><b>Gujarath</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/grishneshwa.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">shri Grishneshwar</h5>
        <p class="card-text">
          shri grishneshwar temple is located in Aurangabad,maharashtra
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="uttharakand"><b>varanasi,Utterakand</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/bhem.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">sri Bhimshankar</h5>
        <p class="card-text">
        sri Bhimshankar temple is located in pune,Maharashtra
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="maharshtra"><b>pune,maharashtra</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="./assets/pics/vyd.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">sri vydyanath</h5>
        <p class="card-text">
          sri vydyanath temple is located in Nanded,maharashtra
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="maharashtra"><b>nanded,maharashtra</b></a>
        </div>
      </div>
    </div>
  </div>